<template name="adminComponentTemplate">
    <div>
        {{> mediaItemEditModalTemplate }} {{> mediaItemsUploader}} {{> mediaItemsContainerTemplate}}
    </div>
</template>
<!-- Modal -->
<template name="mediaItemsUploader">
    <div>
        {{> fileUploader options=uploaderOptions uploadCallback=uploadCallback cancelCallback=cancelCallback}}
    </div>
</template>
<template name="mediaItemsContainerTemplate">
    <div class="media-items-container">
        {{#each mediaItem in mediaItems}} {{>mediaItemTemplate mediaItem=mediaItem}} {{/each}}
    </div>
</template>
<template name="mediaItemTemplate">
    {{#with mediaItem}}
    <div class="media-item">
        <div class="center-cropped">
            {{#if imageType}}
            <img src="{{imageUrl}}" /> {{else}}
            <video controls>
                <source src="{{fullUrl}}" type="{{videoMimeType}}"> Your browser does not support the video tag.
            </video>
            {{/if}}
        </div>
        <button type="button" class="btn btn-default edit-media-item-modal">Edit</button>
    </div>
    {{/with}}
</template>
<template name="mediaItemEditModalTemplate">
    <div class="modal fade" id="mediaItemEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        {{#with currentMediaEdit}}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {{#if imageType}}
                        <img src="{{fullUrl}}" alt> {{else}}
                        <video controls>
                            <source src="{{fullUrl}}" type="{{videoMimeType}}"> Your browser does not support the video tag.
                        </video>
                        {{/if}}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{>checkboxSliderTemplate currentMediaEdit=currentMediaEdit label="Brinkley" field="hasBrinkley"}}
                            {{>checkboxSliderTemplate currentMediaEdit=currentMediaEdit label="Maude" field="hasMaude"}}
                            {{>checkboxSliderTemplate currentMediaEdit=currentMediaEdit label="Jamie" field="hasJamie"}}
                            {{>checkboxSliderTemplate currentMediaEdit=currentMediaEdit label="Mark" field="hasMark"}}
                        </div>
                        <div class="col-md-6">
                            {{> datePickerTemplate currentMediaEdit = currentMediaEdit}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-3">
                        	{{>checkboxSliderTemplate currentMediaEdit=currentMediaEdit label="DELETE" field="deleted" checkboxStyle="danger"}}
                        </div>
                        <div class="col-xs-9">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
</template>
<template name="datePickerTemplate">
    {{#with currentMediaEdit}}
    <div class="input-group datetimepicker">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input class="set-due-date form-control" type="text" />
    </div>
    {{/with}}
</template>
<template name="checkboxSliderTemplate">
    {{#with currentMediaEdit}}
    <div class="checkbox checkbox-slider-md checkbox-slider--b {{checkboxStyle}}">
        <label>
            <input class="tag-input" type="checkbox" value="{{label}}"> <span>{{label}}</span>
        </label>
    </div>
    {{/with}}
</template>
