<template name="backlogsTemplate">
    <div class="backlogs-container">
        <div class="col-md-6 col-md-offset-3">
            {{> mainPageHeaderTemplate title="Backlogs"}}
            <div class="backlogs-list">
                {{#each backlog in backlogs}}
                <div role="button" class="backlog-card" data-id="{{backlog._id}}">
                    <span>{{backlog.name}}</span>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="mainPageHeaderTemplate">
    <div class="main-page-header">
        <div class="label list-header">
            <span>{{title}}</span>
        </div>
        <span class="header-divider"></span>
    </div>
</template>
