
.backlogs-container .backlog-card {
    display: block;
    width: 11em;
    height: 5em;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border-radius: 0px;
    text-align: left;
    float: left;
    margin: 0.2em;
}

.backlogs-container .backlog-card > span {
	width: 100%;
    display: block;
    word-wrap: break-word;
    white-space: normal;
}