<template name="boardTemplate">
    <div class="container-radim">
        {{#if isReady}} {{#if viewFound}}
        <div class="row view-nav-bar">
            <!-- Button trigger modal -->
            <div class="quick-toggles">
                <span role="button" class="on">My Notions</span>
                <span role="button" class="on">Blocked</span>
                <span role="button">On Fire!</span>
            </div>
        </div>
        {{> boardContainerTemplate}}

<!--         <div class="board-container"> -->
            <!-- Large screen, multi view columns -->
<!--             {{#if showMultiColumns}} {{#each column in columns}} {{> listWrapperTemplate name=column.name count=column.count field=column.field}} {{/each}} {{else}} -->
            <!-- Small screens, TODO, view for single column, maybe a carousel? -->
<!--             {{> listWrapperTemplate name="To Do" count=column.count field=column.field}} {{/if}} -->
<!--         </div> -->
        {{else}}
        <div class="row">
            {{> ohNoesTemplate}}
        </div>
        {{/if}} {{else}} {{> App_loading}} {{/if}}
    </div>
</template>
<template name="boardContainerTemplate">
    <div class="board-header-container">
        {{#each column in columns}}
            {{> listWrapperTemplateHeaderOnly name=column.name count=column.count field=column.field}}
        {{/each}}
    </div>
    <div class="board-container">
        {{#each column in columns}}
            {{> listWrapperTemplate name=column.name count=column.count field=column.field}}
        {{/each}}
    </div>
</template>
<template name="listWrapperTemplateHeaderOnly">
    {{#with columnName=name count=count field=field}}
    <div class="board-list-container {{columnPositionClass}}">
        {{> listHeaderTemplate columnName=columnName field=field}} 
    </div>
    {{/with}}
</template>
<template name="listWrapperTemplate">
    {{#with columnName=name count=count field=field}}
    <div class="board-list-container {{columnPositionClass}}">
<!--         {{> listHeaderTemplate columnName=columnName field=field}}  -->
        {{> listContentTemplate columnName=columnName field=field}}
    </div>
    {{/with}}
</template>
<template name="listHeaderTemplate">
    <div class="label list-header">
        {{#with columnName=columnName field=field}}
        <span>{{columnName}}</span>
        <span class="badge">{{columnCount}}</span> {{/with}}
    </div>
</template>
<template name="listContentTemplate">
    {{#with columnName=columnName field=field}}
    <div class="source list-group board-list" column-value={{columnName}} column-field={{field}}>
        {{#sortable items=filteredNotions options=listOptions}} {{> listCardTemplate}} {{/sortable}}
        <!--  {{#each notion in filteredNotions}} {{> listCardTemplate notion=notion}} {{/each}}
 -->
    </div>
    {{/with}}
</template>
<template name="listCardTemplate">
    <div class="list-group-item list-card" role="button" style="{{style}}" source-id="{{_id}}" order="{{order}}">
        <div class="card-icon">
            <div class="profile-photo" style="background-image: url({{assignedUserPhoto}})"></div>
        </div>
        <div class="title-box noselect">
            <span>{{title}}</span>
        </div>
        <!--         <div class="title-box-mask"></div> -->
        <!--         <span class="label label-success label-as-badge">Test Tag</span> -->
        <span class="glyphicon glyphicon-exclamation-sign alert-badge {{#if notBlocked}}hidden{{/if}}" aria-hidden="true"></span>
    </div>
</template>
