<template name="landingTemplate">
    <div class="landing-template">
        {{> landingMediaItemsTemplate}}
    </div>
</template>
<template name="landingMediaItemsTemplate">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each mediaItem in mediaItems}} {{>landingMediaItemTemplate mediaItem=mediaItem}} {{/each}}
    </div>
</template>
<template name="landingMediaItemTemplate">
    {{#with mediaItem}}
    <div class="grid-item">
        {{> landingMediaDisplayTemplate mediaItem=this}}
    </div>
    {{/with}}
</template>

<template name="landingMediaDisplayTemplate">
    {{#with mediaItem}}
        {{#if imageType}}
        
        <a href="{{fullUrl}}" target="_blank">
            <img src="{{imageUrl}}" />
        </a>

        {{else}}

        <video controls>
            <source src="{{fullUrl}}" type="{{videoMimeType}}"> Your browser does not support the video tag.
        </video>

        {{/if}}
    {{/with}}

</template>
