<template name="landingTemplate">
    <div class="landing-template">
        {{> landingMediaItemsTemplate}}
    </div>
</template>
<template name="landingMediaItemsTemplate">
    <div class="grid">
    	<div class="grid-sizer"></div>
        {{#each mediaItem in mediaItems}} 
        	{{>landingMediaItemTemplate mediaItem=mediaItem}} 
        {{/each}}
    </div>
</template>

<template name="landingMediaItemTemplate">
    {{#with mediaItem}}
    <div class="grid-item">
            {{#if imageType}}
            <img src="{{fullUrl}}" /> {{else}}
            <video controls>
                <source src="{{fullUrl}}" type="{{mimeType}}"> Your browser does not support the video tag.
            </video>
            {{/if}}
    </div>
    {{/with}}
</template>


