<template name="App_navSidebar">
<!-- Include radim class to the nav to make it vertical -->
        <nav class="radim navbar navbar-default radim-fixed" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle active" data-toggle="collapse" data-target=".navbar-ex1-collapse">

<!--                     <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> -->
                </button>
                {{#if isSidebarOpen}}
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true">></span>
                {{else}}
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true">></span>
                {{/if}}

            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <!-- The navbar content here -->

                    <!-- Search -->
<!-- 
                    <li>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                          </span>
                        </div>
                    </li>
                    <li class="seperator"></li> -->

                    <!-- Menu -->

                    <li>
                        <a href="#3">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span class="menu-description">Project Info</span>
                        </a>
                    </li>
                    <li class="seperator"></li> 
                    <li>
                        <a href="#1">
<!--                             <span class="badge">4</span> -->
                            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                            <span class="menu-description">Views</span>
                        </a>
                    </li>
                    <li >
                        <a href="#3">
                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                            <span class="menu-description">Stats</span>
                        </a>
                    </li>
<!--                     <li class="disabled">
                        <a href="#4">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            <span class="menu-description">Disabled Link</span>
                        </a>
                    </li>
 -->
                    <!-- Submenu Multiple Level -->
<!--                     <li class="dropdown">
                        <a href="#2" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            <span class="menu-description">Menu</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#5">Simple Menu</a></li>
                            <li class="dropdown">
                                <a href="#6" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                    <span class="menu-description">Sub Menu</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Link 1</a></li>
                                    <li class="dropdown">
                                        <a href="#6" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                            <span class="menu-description">Even More</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Link 1</a></li>
                                            <li><a href="#">Link 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->

                    <!-- Forms & Inputs -->

                    <!-- <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username">
                                <input type="text" class="form-control" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                    </li>
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email ID">
                            </div>
                            <button type="submit" class="btn btn-default">Subscribe</button>
                        </form>
                    </li> -->

                </ul>
            </div>
        </nav>
        <!-- End of default navbar -->
</template>
