<template name="App_navHeaderv2">
    <nav class="fixed-nav-bar">
        <!-- Fixed navigation bar content -->
        <div>
            <div class="home-link" role="button">
                <span class="lnr lnr-home"></span>
            </div>
            <div class="profile-link">
                {{#if currentUser}}
                <span role="button" class="glyphicon glyphicon-cog"></span>
                <span role="button" class="glyphicon glyphicon-bell"></span> 
                <div class="header-profile-photo" role="button"  data-toggle="dropdown" style="background-image: url({{currentUserPhoto}})"></div>
                {{else}}
                <span class="glyphicon glyphicon-user" aria-hidden="true" role="button" data-toggle="dropdown"><span class="caret"></span></span> 
                {{/if}}
                <ul class="dropdown-menu dropdown-menu-right">
                    {{#if currentUser}}
                    <li><a class="btn-secondary" href="/profiles/{{currentUserID}}">{{_ 'Profile'}}</a></li>
                    <li><a class="btn-secondary" href="{{pathFor 'signout'}}">{{_ 'Sign Out'}}</a></li>
                    {{else}}
                    <li class="{{isActiveRoute 'signin'}}"><a href="{{pathFor 'signin'}}" class="btn-secondary">{{_ 'Sign In'}}</a></li>
                    <li class="{{isActiveRoute 'join'}}"><a href="{{pathFor 'join'}}" class="btn-secondary">{{_ 'Join'}}</a></li>
                    {{/if}}
                </ul>
            </div>
            <!--             <div class="alert-link" role="button">
            </div> -->
            {{#if showCenterNav}}
            <div class="create-notion-link">
            <div class="create-notion" role="button" data-toggle="modal" data-target="#newNotionModal">
                <!--                 <span class="glyphicon glyphicon-plus-sign"></span> -->
                <div class="icon-bulb"></div>
                <span> New</span>
            </div>
            </div>
            <div class="center-nav-links">
                {{> centerNavLinkTemplate routeName='backlogStack' icon='lnr-list'}} 
                {{> centerNavLinkTemplate routeName='backlogViewsList' groupName='backlogViewsGroup' icon='lnr-funnel'}} 
                {{> centerNavLinkTemplate routeName='backlogCharts' icon='lnr-chart-bars'}} 
                {{> centerNavLinkTemplate routeName='backlogUsers' icon='lnr-users'}} 
                {{> centerNavLinkTemplate routeName='backlogInfo' icon='lnr-pencil'}}
                <!--                 <div class="nav-link" role="button">
                    <div class="btn-circle active"><span class="lnr lnr-list"></span></div>
                    <div class="arrow-up"></div>
                </div> -->
                <!--                 <div class="nav-link" role="button">
                    <div class="btn-circle"><span class="lnr lnr-funnel"></span></div>
                </div>
                <div class="nav-link" role="button">
                    <div class="btn-circle"><span class="lnr lnr-chart-bars"></span></div>
                </div>
                <div class="nav-link" role="button">
                    <div class="btn-circle"><span class="lnr lnr-users"></span></div>
                </div>
                <div class="nav-link" role="button">
                    <div class="btn-circle"><span class="lnr lnr-pencil"></span></div>
                </div> -->
            </div>
            {{else}}
            <div class="banner-text">
                <span>NOTION</span>
            </div>
            {{/if}}
        </div>
    </nav>
</template>
<template name="centerNavLinkTemplate">
    {{#with routeName=routeName groupName=groupName icon=icon}}
    <div class="nav-link" role="button">
        <div class="btn-circle {{#if isNavActive}}active{{/if}}"><span class="lnr {{icon}}"></span></div>
        {{#if isNavActive}}
        <div class="arrow-up"></div>
        {{/if}}
    </div>
    {{/with}}
</template>
