<template name="App_navHeaderv2">
    <nav class="fixed-nav-bar">
        <!-- Fixed navigation bar content -->
        <div>
        {{#if currentUser}}
            <div class="home-link" role="button">
                <span class="lnr lnr-home"></span>
            </div>
            {{/if}}
            <div class="profile-link {{#if profileOnBottomNav}}dropup{{/if}}">
                {{#if currentUser}}
                <div class="header-profile-photo" role="button"  data-toggle="dropdown" style="background-image: url({{currentUserPhoto}})"></div>
                {{else}}
                <a href="{{pathFor 'signin'}}" class=""><span class="glyphicon glyphicon-cog" aria-hidden="true" role="button"></span></a> 
                {{/if}}

                <ul class="dropdown-menu dropdown-menu-right">
                    {{#if currentUser}}
                    <li><a class="btn-secondary" href="/admin">{{_ 'Admin'}}</a></li>
                    <li><a class="btn-secondary" href="/profiles/{{currentUserID}}">{{_ 'Profile'}}</a></li>
                    <hr/>
                    <li><a class="btn-secondary" href="{{pathFor 'signout'}}">{{_ 'Sign Out'}}</a></li>
                    {{else}}
                    <li class="{{isActiveRoute 'signin'}}"><a href="{{pathFor 'signin'}}" class="btn-secondary">{{_ 'Sign In'}}</a></li>
                    <li class="{{isActiveRoute 'join'}}"><a href="{{pathFor 'join'}}" class="btn-secondary">{{_ 'Join'}}</a></li>
                    {{/if}}
                </ul>

            </div>

            <div class="banner-text">
                <span>RUSHTON</span>
            </div>

        </div>
    </nav>
</template>
<template name="centerNavLinkTemplate">
    {{#with routeName=routeName groupName=groupName icon=icon}}
    <div class="nav-link" role="button">
        <div class="btn-circle {{#if isNavActive}}active{{/if}}"><span class="lnr {{icon}}"></span></div>
        {{#if isNavActive}}
        <div class="arrow-up"></div>
        {{/if}}
    </div>
    {{/with}}
</template>
