<template name="notionStackTemplate">
    <div class="view-list-view">
        <div class="col-md-6 col-md-offset-3">
            {{> mainPageHeaderTemplate title="Backlog"}}
            <div>
                {{> backlogStackContentTemplate}}
            </div>
        </div>
    </div>
</template>

<template name="backlogStackContentTemplate">
{{#with columnName="testColumnName"}}
    <div class="source list-group board-list">
        {{#sortable items=filteredNotions options=listOptions}}
            {{> backlogListCardTemplate}}
        {{/sortable}}
    </div>
    {{/with}}
</template>
<template name="backlogListCardTemplate">
    <div class="list-group-item list-card" role="button" style="{{style}}" source-id="{{_id}}" order="{{order}}">
        <div class="card-icon">
                <div class="profile-photo" style="background-image: url({{assignedUserPhoto}})"></div>
        </div>
        <div class="title-box noselect">
            <span class="notion-number">#{{notionNumber}} : </span>
            <span> {{title}}</span>
        </div>
<!--         <div class="title-box-mask"></div> -->
<!--         <span class="label label-success label-as-badge">Test Tag</span> -->
        <span class="glyphicon glyphicon-exclamation-sign alert-badge {{#if notBlocked}}hidden{{/if}}" aria-hidden="true"></span>
    </div>
</template>


