<template name="ohNoesTemplate">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                    OH NOES!</h1>
            <h2>
                    We haz no help.</h2>
            <div class="error-details">
                You can read this part, but it's not really meant to help you.
            </div>
            <div class="error-actions">
                <a href="/backlogs" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-th-list"></span>
                         View Backlogs</a>
            </div>
        </div>
    </div>
</template>
