@import "../stylesheets/util/variables.less";
// @dark-header-blue: rgb(58, 70, 85);
// @dark-header-blue-transparent: rgba(58, 70, 85, 0.75);
// @dark-subheader-blue-transparent: rgba(77, 91, 106, 0.75);
// @nav-highligh-red: rgb(230, 98, 115);
// @grey-white-background: rgb(242, 240, 240);
// @light-font-blue: rgb(99, 161, 202);
// @graphic-mid-teal: rgb(75, 191, 188);
// @graphic-light-teal: rgb(173, 217, 216);
// @dark-font-grey: rgb(116, 118, 120);
// @light-font-grey: rgb(203, 205, 208);
.user-profile-view div.header-profile-photo {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 4px solid @light-font-grey;
    opacity: 0.8;

}



.user-profile-view div.header-profile-photo:hover {
    border: 4px solid @nav-highligh-red;
    opacity: 1;
}

.user-profile-view div.profile-photo-container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-view .uploadcare-widget {
    display: none;
}

.uploadcare-draganddrop .uploadcare-dialog-file-drop-area {
    background-color: #f5f5f5;
}

.uploadcare-draganddrop .uploadcare-dialog-file-drop-area .uploadcare-dialog-big-button {
    border: none;
    text-shadow: none;
    box-shadow: none;
    background: @nav-highligh-red;
}

.uploadcare-draganddrop .uploadcare-dialog-file-title {
    color: @dark-font-grey;
}

.uploadcare-dialog-tab,
.uploadcare-dialog-tabs,
.uploadcare-dialog-panel {
    background: transparent;
    border: 0;
}

.uploadcare-dialog-panel {
    padding-left: 0;
}

.uploadcare-dialog-tabs {
    float: none;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: 0;
}

.uploadcare-dialog-tab {
    width: 50px;
    margin: 0 10px 10px 0;
    float: left;
}

.uploadcare-dialog-tabs-panel,
.uploadcare-dialog-source-base-wrap {
    padding: 0;
    margin: 0;
    height: 400px;
}

.uploadcare-dialog-file-or:not(.uploadcare-if-draganddrop),
.uploadcare-dialog-file-sources {
    display: none;
}

.uploadcare-dialog-camera-holder {
    height: 350px;
}

.uploadcare-dialog-camera-video {
    max-height: 350px;
}

.uploadcare-dialog-tabs,
.uploadcare-dialog-footer {
    display: none;
}

.uploadcare-panel-footer {
    background: none;
    border-top: none;
}

.user-profile-view div.form-group {
    margin-top: 1em;
    margin-bottom: 1em;
}

.user-profile-view input.display-name,
.user-profile-view input.primary-email {
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    text-align: center;
}

.user-profile-view input.display-name:focus,
.user-profile-view input.primary-email:focus {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.full-width-input {
  width: 100%;
}

.user-profile-view div.input-item {
  text-align: center;
}


.user-profile-view div.divider {
    margin: 1.5em 3em;
    content: "";
    display: block;
    height: 1px;
    background: @light-font-grey;
}

.user-profile-view span.glyphicon.glyphicon-ok {
  color: green;
}

.user-profile-view span.glyphicon.glyphicon-remove {
  color: @dark-font-grey;
  top: 3px;
}

.user-profile-view a.btn-default {
  background-color: @graphic-mid-teal;
  color: #fff;
}

