.view-nav-bar {
    padding: 0.5em;
    position: fixed;
    z-index: 8888;
    background: rgb(89, 107, 122);
    width: 100%;
    box-shadow: 0 -4px 27px 9px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.view-nav-bar>span {
	color: #cbcdd0;
	font-weight: 200;
    font-size: 1.2em;
    padding-left: 2em;
}

.view-list-view {
	margin-top: 2.7em;
}

.view-list-view .list-group {
	margin-top: 2em;
}

.view-list-view.form-group label {
	margin-top: 1em;
}

.view-list-view .views-list-item span {
	font-size: 1.5em;
}

.view-list-view .views-list-item button,
.view-list-view .views-list-item a {
	float:right;
	margin:1px;
}