<template name="App_body">
  {{> App_navHeaderv2}}
  {{> App_newNotionModal}}
  {{> App_editNotionModal}}
  {{> App_alerts}}
  <div class="content-overlay"></div>
  <div class="main-content-area" id="content-container">
    {{#momentum plugin="fade"}}
      {{#if Template.subscriptionsReady}}
        <div class="container-fluid">
          {{> Template.dynamic template=main}}
        </div>
      {{else}}
        {{> App_loading}}
      {{/if}}
    {{/momentum}}
  </div>

  <!-- Reponsive Breakpoints -->
  <div class="device-xs visible-xs responsive-breakpoint"></div>
  <div class="device-sm visible-sm responsive-breakpoint"></div>
  <div class="device-md visible-md responsive-breakpoint"></div>
  <div class="device-lg visible-lg responsive-breakpoint"></div>

</template>
