html,
body {
    height: 100%;
    overflow-x: scroll; // Needed for mobile.
}

body {
    //background-image: url("greyzz.png");
    background-color: #f2f2f2;
    // background: url(samplebg1.jpg) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

.main-content-area {
    margin-top: 4em;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

// These are breakpoint divs 
.responsive-breakpoint {
    height: 0px !important;
    width: 1px !important; // This has to be 1 otherwise the visible checks fail
    position: fixed;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 768px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
