html,
body {
    height: 100%;
}

body {
    //background-image: url("greyzz.png");
    background-color: #f2f2f2;
    overflow-x: scroll;
    // background: url(samplebg1.jpg) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

.main-content-area {
    margin-top: 5em;
}
